$def with(result)
<!DOCTYPE html>
<html>
<header>
<h1 class="text-light bg-dark">ACTUALIZAR DATOS DEL ALUMNO</h1>
</header>

<body>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	 crossorigin="anonymous">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/">INICIO</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/insert">Insertar alumno <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/update">Actualizar <span class="sr-only">(current)</span></a>
      </li>
    <li class="nav-item active">
        <a class="nav-link" href="/list">Lista de alumnos<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/delete">Eliminar Alumnos<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/view">Ver Alumno<span class="sr-only">(current)</span></a>
      </li>
    
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<form method="POST" action="">
  <div class="form-group">
    <label for="matricula">Matricula</label>
    <input type="number" readonly class="form-control" id="matricula" name="matricula" value="$result['matricula']">
  </div>

  <div class="form-group">
    <label for="name">Nombre</label>
    <input type="text" required class="form-control" id="name" name="name" value="$result['nombre']">
  </div>

  <div class="form-group">
    <label for="primero">Apellido paterno</label>
    <input type="text" required class="form-control" id="primero" name="primero" value="$result['pri_ap']">
  </div>

  <div class="form-group">
    <label for="segundo">Apellido materno</label>
    <input type="text" required class="form-control" id="segundo" name="segundo" value="$result['seg_ap']">
  </div>

  <div class="form-group">
    <label for="edad">Edad del alumno</label>
    <input type="number" required class="form-control" id="edad" name="edad" value="$result['age']">
  </div>

  <div class="form-group">
    <label for="fecha">Fecha de nacimiento</label>
    <input type="text" required class="form-control" id="fecha" name="fecha" value="$result['fdate']">
  </div>

  <div class="form-group">
    <label for="sexo">Sexo</label>
    <input type="text" required class="form-control" id="sexo" name="sexo" value="$result['gender']">
  </div>

  <div class="form-group">
    <label for="estado">Estado</label>
    <input type="text" required class="form-control" id="estado" name="estado" value="$result['state']">
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Update</button>
   
  </div>
</form> 
<body background="https://image.freepik.com/vector-gratis/diseno-patron-mandala-sobre-fondo-blanco_1308-33479.jpg">
  </body>
</html>